div {
    line-height: 1.8em;
    background: skyblue;
    border-style: solid;
}

h1, h2 {
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


img {
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 180px;
    border-radius: 25px;
    border-color: red;
    border-width: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

nav {
    background-color: green;
}

a:hover {
    background-color: white;
}

li {
    list-style-type: none;
    display: inline-block;
}