body{
    padding: 0;
    margin: 0;
}
div {
    line-height: 1.8em;
    background: skyblue;
    border-style: solid;
}

h1, h2 {
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


img {
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 180px;
    border-radius: 25px;
    border-color: red;
    border-width: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

nav {
    background-color: lightslategrey;
    padding: 5px;
}

nav ul {
    list-style-type: none;
  }

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: deepskyblue;
}

